html, body, #map {
    height: 100%;
    margin:0;
    padding: 0;
}
.info {
    padding: 15px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width:400px;
}